<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>

      {% assign projects_id = "projects" %}
      {% assign projects_title = "Projects" %}
      {% assign projects_list = site.projects %}
      {% include projects.html %}
      <!-- <section id="projects">
        {% include projects.html %}
      </section> -->


        {{ content }}
      {% include footer.html %}
  </body>
